In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/industri-real-estate/dataset financial data ratio aneka industri 2021 (1) (1).csv
/kaggle/input/ratio-real-estate/Data Financial Ratio Real Estate.csv
/kaggle/input/nullreal/realesatet.csv
/kaggle/input/datasetratioa-real-estate/dataset financial data ratio Real Estate.csv
/kaggle/input/realesatate/realesatet.csv
/kaggle/input/newrealestate/realesatet.csv

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing


from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
import matplotlib as mpl
import matplotlib.pyplot as plt



import statsmodels.api as sm

# readable figures
pd.set_option('float_format', '{:f}'.format)

In [3]:
df = pd.read_csv('../input/ratio-real-estate/Data Financial Ratio Real Estate.csv')
df.head()

,No,Industri,Company,Emiten,DER,ROA,Sales Growth,ROE,NPM,Category
0,1,Real Estate,Agung Podomoro Land Tbk,APLN,1.770000,0.060000,0.330000,0.130000,0.120000,1
1,2,Real Estate,Armidian Karyatama Tbk,ARMY,0.280000,-0.050000,0.410000,-0.120000,-0.130000,1
2,3,Real Estate,Andalan Sakti Primaindo Tbk,ASPI,0.400000,0.050000,0.030000,0.070000,0.130000,1
3,4,Real Estate,Alam Sutera Realty Tbk,ASRI,1.360000,-0.020000,0.220000,-0.080000,-0.160000,1
4,5,Real Estate,Trimitra Prawara Goldland Tbk,ATAP,0.340000,0.210000,0.170000,0.320000,0.250000,4

In [4]:
df.describe()

,No,DER,ROA,Sales Growth,ROE,NPM,Category
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,15.000000,0.918276,0.025517,0.304483,0.021379,-0.053448,1.517241
std,8.514693,0.852941,0.103909,0.431456,0.241568,0.420300,1.121883
min,1.000000,0.020000,-0.320000,-0.280000,-0.930000,-1.990000,0.000000
25%,8.000000,0.370000,-0.020000,0.030000,-0.080000,-0.050000,1.000000
50%,15.000000,0.650000,0.020000,0.220000,0.040000,0.040000,1.000000
75%,22.000000,1.220000,0.060000,0.410000,0.130000,0.130000,1.000000
max,29.000000,3.660000,0.310000,1.440000,0.520000,0.400000,4.000000

In [5]:
display(df)

,No,Industri,Company,Emiten,DER,ROA,Sales Growth,ROE,NPM,Category
0,1,Real Estate,Agung Podomoro Land Tbk,APLN,1.770000,0.060000,0.330000,0.130000,0.120000,1
1,2,Real Estate,Armidian Karyatama Tbk,ARMY,0.280000,-0.050000,0.410000,-0.120000,-0.130000,1
2,3,Real Estate,Andalan Sakti Primaindo Tbk,ASPI,0.400000,0.050000,0.030000,0.070000,0.130000,1
3,4,Real Estate,Alam Sutera Realty Tbk,ASRI,1.360000,-0.020000,0.220000,-0.080000,-0.160000,1
4,5,Real Estate,Trimitra Prawara Goldland Tbk,ATAP,0.340000,0.210000,0.170000,0.320000,0.250000,4
5,6,Real Estate,Bekasi Asri Pemula Tbk,BAPA,0.080000,0.030000,0.300000,0.060000,0.070000,1
6,7,Real Estate,Bhakti Agung Propertindo Tbk,BAPI,0.490000,0.110000,0.790000,0.140000,0.170000,4
7,8,Real Estate,Bumi Benowo Sukses Sejahtera Tbk,BBSS,0.020000,-0.050000,-0.170000,-0.160000,-0.540000,1
8,9,Real Estate,Bumi Citra Permai Tbk,BCIP,0.940000,0.120000,0.680000,0.290000,0.210000,4
9,10,Real Estate,Bekasi Fajar Industrial Estate Tbk,BEST,0.450000,0.010000,0.670000,0.010000,0.010000,1
10,11,Real Estate,Binakarya Jaya Abadi Tbk,BIKA,3.660000,0.080000,0.280000,0.130000,0.130000,1
11,12,Real Estate,Bhuwanatala Indah Permai Tbk,BIPP,0.790000,-0.320000,-0.220000,0.000000,-1.990000,3
12,13,Real Estate,Bukit Darmo Property Tbk,BKDP,0.650000,-0.040000,0.160000,-0.100000,-0.050000,1
13,14,Real Estate,Sentul City Tbk,BKSL,0.780000,0.020000,-0.170000,0.020000,0.050000,1
14,15,Real Estate,Bumi Serpong Damai Tbk,BSDE,0.800000,0.000000,0.360000,-0.010000,-0.010000,1
15,16,Real Estate,Natura City Developments Tbk,CITY,0.230000,-0.010000,0.410000,-0.020000,-0.030000,1
16,17,Real Estate,Cowell Development Tbk,COWL,3.100000,0.060000,1.440000,0.240000,0.070000,2
17,18,Real Estate,Capri Nusa Satu Properti Tbk,CPRI,0.160000,-0.020000,0.990000,-0.210000,-0.010000,2
18,19,Real Estate,Cahayasakti Investindo Sukses Tbk,CSIS,1.040000,-0.020000,0.000000,-0.080000,-0.500000,1
19,20,Real Estate,Ciputra Development Tbk,CTRA,1.220000,-0.050000,0.000000,-0.930000,-0.180000,0
20,21,Real Estate,Diamond Citra Propertindo Tbk,DADA,0.830000,0.310000,1.420000,0.520000,0.400000,4
21,22,Real Estate,Duta Anggada Realty Tbk,DART,1.400000,0.080000,0.160000,0.150000,0.150000,1
22,23,Real Estate,Intiland Development Tbk,DILD,1.640000,0.040000,0.160000,0.050000,0.040000,1
23,24,Real Estate,Puradelta Lestari Tbk,DMAS,0.140000,0.020000,0.290000,0.100000,0.010000,1
24,25,Real Estate,Duta Pertiwi Tbk,DUTI,0.370000,0.010000,-0.280000,0.010000,0.030000,1
25,26,Real Estate,Pakuwon Jati Tbk,PWON,0.540000,0.060000,0.170000,0.080000,0.110000,1
26,27,Real Estate,Ristia Bintang Mahkotasejati Tbk,RBMS,0.650000,0.020000,0.140000,0.040000,0.060000,1
27,28,Real Estate,Roda Vivatex Tbk,RDTX,0.590000,0.090000,0.240000,0.150000,0.180000,1
28,29,Real Estate,Repower Asia Indonesia Tbk,REAL,1.910000,-0.060000,-0.150000,-0.180000,-0.140000,1

# Multinomial logistic regression with scikit-learn

In [6]:
x = df.drop(['Category','No','Industri','Company','Emiten'], axis=1)
x.head()

       DER       ROA  Sales Growth       ROE       NPM
0 1.770000  0.060000      0.330000  0.130000  0.120000
1 0.280000 -0.050000      0.410000 -0.120000 -0.130000
2 0.400000  0.050000      0.030000  0.070000  0.130000
3 1.360000 -0.020000      0.220000 -0.080000 -0.160000
4 0.340000  0.210000      0.170000  0.320000  0.250000

In [7]:
y = df['Category']
y.head()

0    1
1    1
2    1
3    1
4    4
Name: Category, dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler 
from sklearn import preprocessing
x = preprocessing.StandardScaler().fit(x).transform(x)

In [9]:
trainX, testX, trainY, testY = train_test_split(x, y, test_size = 0.3)

# Model and Validation

In [10]:
log_reg = LogisticRegression(solver='newton-cg', multi_class='multinomial')
log_reg.fit(trainX, trainY)
y_pred = log_reg.predict(testX)

In [11]:
print('Accuracy: {:.2f}'.format(accuracy_score(testY, y_pred)))
print('Error rate: {:.2f}'.format(1 - accuracy_score(testY, y_pred)))

Accuracy: 0.78
Error rate: 0.22

# Probabilitas

In [12]:
probability = log_reg.predict_proba(testX)
probability

array([[2.20155156e-02, 9.46136339e-01, 1.85861510e-02, 1.32619945e-02],
       [2.06803388e-02, 9.73472157e-01, 4.29473572e-03, 1.55276826e-03],
       [7.88143696e-03, 7.60509161e-01, 1.87537268e-02, 2.12855675e-01],
       [7.08954287e-03, 9.79300528e-01, 4.18300244e-03, 9.42692674e-03],
       [1.13169808e-02, 9.31648212e-01, 1.62503495e-02, 4.07844574e-02],
       [1.22493756e-02, 9.06287491e-01, 5.06728449e-03, 7.63958493e-02],
       [7.06863423e-03, 2.12876213e-01, 8.13725631e-02, 6.98682590e-01],
       [2.91635594e-02, 8.83953613e-01, 6.71532049e-02, 1.97296228e-02],
       [8.11458460e-04, 9.98767388e-01, 4.19147690e-04, 2.00539458e-06]])

In [13]:
df1 = pd.DataFrame(log_reg.predict_proba(testX), columns=log_reg.classes_)
df1.head()

         0        1        2        4
0 0.022016 0.946136 0.018586 0.013262
1 0.020680 0.973472 0.004295 0.001553
2 0.007881 0.760509 0.018754 0.212856
3 0.007090 0.979301 0.004183 0.009427
4 0.011317 0.931648 0.016250 0.040784

In [14]:
display(df1)

         0        1        2        4
0 0.022016 0.946136 0.018586 0.013262
1 0.020680 0.973472 0.004295 0.001553
2 0.007881 0.760509 0.018754 0.212856
3 0.007090 0.979301 0.004183 0.009427
4 0.011317 0.931648 0.016250 0.040784
5 0.012249 0.906287 0.005067 0.076396
6 0.007069 0.212876 0.081373 0.698683
7 0.029164 0.883954 0.067153 0.019730
8 0.000811 0.998767 0.000419 0.000002

In [15]:
df1['sum'] = df1.sum(axis=1)
df1.head()

         0        1        2        4      sum
0 0.022016 0.946136 0.018586 0.013262 1.000000
1 0.020680 0.973472 0.004295 0.001553 1.000000
2 0.007881 0.760509 0.018754 0.212856 1.000000
3 0.007090 0.979301 0.004183 0.009427 1.000000
4 0.011317 0.931648 0.016250 0.040784 1.000000

In [16]:
df1['predicted_class'] = y_pred
df1.head()

         0        1        2        4      sum  predicted_class
0 0.022016 0.946136 0.018586 0.013262 1.000000                1
1 0.020680 0.973472 0.004295 0.001553 1.000000                1
2 0.007881 0.760509 0.018754 0.212856 1.000000                1
3 0.007090 0.979301 0.004183 0.009427 1.000000                1
4 0.011317 0.931648 0.016250 0.040784 1.000000                1

In [17]:
df1['actual_class'] = testY.to_frame().reset_index().drop(columns='index')
df1.head()

         0        1        2        4      sum  predicted_class  actual_class
0 0.022016 0.946136 0.018586 0.013262 1.000000                1             1
1 0.020680 0.973472 0.004295 0.001553 1.000000                1             1
2 0.007881 0.760509 0.018754 0.212856 1.000000                1             1
3 0.007090 0.979301 0.004183 0.009427 1.000000                1             1
4 0.011317 0.931648 0.016250 0.040784 1.000000                1             1

In [18]:
le = preprocessing.LabelEncoder()

df1['label_pred'] = le.fit_transform(df1['predicted_class'])
df1['label_actual'] = le.fit_transform(df1['actual_class'])
df1.head()

,0,1,2,4,sum,predicted_class,actual_class,label_pred,label_actual
0,0.022016,0.946136,0.018586,0.013262,1.000000,1,1,0,0
1,0.020680,0.973472,0.004295,0.001553,1.000000,1,1,0,0
2,0.007881,0.760509,0.018754,0.212856,1.000000,1,1,0,0
3,0.007090,0.979301,0.004183,0.009427,1.000000,1,1,0,0
4,0.011317,0.931648,0.016250,0.040784,1.000000,1,1,0,0

In [19]:
targets = df1['predicted_class']   
integerEncoded = le.fit_transform(targets)
integerMapping=dict(zip(targets,integerEncoded))
integerMapping

{1: 0, 4: 1}

In [20]:
targets = df1['actual_class']   
integerEncoded = le.fit_transform(targets)
integerMapping=dict(zip(targets,integerEncoded))
integerMapping

{1: 0, 2: 1, 3: 2}

# Cek Prediction

In [21]:
df1['check'] = df1['label_actual'] - df1['label_pred']
df1.head(6)

,0,1,2,4,sum,predicted_class,actual_class,label_pred,label_actual,check
0,0.022016,0.946136,0.018586,0.013262,1.000000,1,1,0,0,0
1,0.020680,0.973472,0.004295,0.001553,1.000000,1,1,0,0,0
2,0.007881,0.760509,0.018754,0.212856,1.000000,1,1,0,0,0
3,0.007090,0.979301,0.004183,0.009427,1.000000,1,1,0,0,0
4,0.011317,0.931648,0.016250,0.040784,1.000000,1,1,0,0,0
5,0.012249,0.906287,0.005067,0.076396,1.000000,1,1,0,0,0

In [22]:
df1['correct_prediction?'] = np.where(df1['check'] == 0, 'True', 'False')
df1 = df1.drop(['label_pred', 'label_actual', 'check'], axis=1)
df1.head()

,0,1,2,4,sum,predicted_class,actual_class,correct_prediction?
0,0.022016,0.946136,0.018586,0.013262,1.000000,1,1,True
1,0.020680,0.973472,0.004295,0.001553,1.000000,1,1,True
2,0.007881,0.760509,0.018754,0.212856,1.000000,1,1,True
3,0.007090,0.979301,0.004183,0.009427,1.000000,1,1,True
4,0.011317,0.931648,0.016250,0.040784,1.000000,1,1,True

In [23]:
true_predictions = df1[(df1["correct_prediction?"] == 'True')].shape[0]
false_predictions = df1[(df1["correct_prediction?"] == 'False')].shape[0]
total = df1["correct_prediction?"].shape[0]

print('manual calculated Accuracy is:', (true_predictions / total * 100))

manual calculated Accuracy is: 88.88888888888889

In [24]:
wrong_pred = df1[(df1["correct_prediction?"] == 'False')]
wrong_pred

,0,1,2,4,sum,predicted_class,actual_class,correct_prediction?
8,0.000811,0.998767,0.000419,0.000002,1.000000,1,3,False

# Kesimpulan